body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c2e34;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
    padding: 1em;
    width: 100%;
    background-color: #3f4148;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    margin: 1em;
  }
  
  nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    margin-right: 2em;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
  }
  
  nav a:hover {
    color: #d32d2f;
  }
  
  main {
    width: 80%;
    max-width: 1200px;
    padding: 2em;
    background-color: #3f4148;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  footer {
    margin-top: 2em;
    padding: 1em;
    background-color: #2c2e34;
    color: #fff;
    text-align: center;
  }
  
  .voltar {
    font-weight: bolder;
    margin: 2em;
  }


/* SECTION */

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    color: #fff;
  }
  
  section h2 {
    font-size: 3rem;
    animation: fadeIn 2s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: rotateX(90deg);
    }
    to {
      opacity: 1;
      transform: rotateX(0);
    }
  }
  